.main-content {
  padding: 0;
}

.community-box-container {
  display: flex;
  height: 96vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
}

.community-box {
  display: flex;
  align-items: center;
  padding: 1%;
}

.title {
  color: #fff;
  font-size: 2.5rem;
  font-family: var(--black-font);
}

.description {
  word-wrap: break-word;
}

.box-outline {
  width: 81vw !important;
  height: 100%;
  opacity: 0;
}

.bottom-right-image.community {
  height: 24vw;
  background-image: url('../images/Community.svg');
}
 
/* Icons */

.icon {
  width: 8rem;
  margin-right: 5rem;
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pagebuilder {
  background-image: url(../images/Discord.svg);
}

.aroundtown {
  background-image: url(../images/SKCro.svg);
  background-size: 80%;
  filter: drop-shadow(0.2rem 0.2rem 2px black);
}

.chat {
  background-image: url(../images/ChatBubble.svg);
}

.discuss {
  background-image: url(../images/ChatBubble.svg);
}

@media (max-width: 760px) {
  .bottom-right-image.community {
    height: 70vw;
    width: 15vw;
  }

  .title {
    color: #fff;
    font-size: 2rem;
    font-family: var(--black-font);
  }

  .icon {
    margin-right: 2rem;
  }

  .box-outline {
    width: 93vw !important;
  }
}