/* Dialing Screen CSS */

body {
  background-color: #000;
  color: #888;
  font-family: 'Helvetica', Arial, sans-serif;
  margin: 0;
  padding: 0;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#city {
  position: fixed;
  width: 100%;
  height: 0;
  padding-bottom: 100vh;
  background-image: url('../images/Dialing.svg');
  background-size: contain;
  background-position: center center;
  z-index: -1;
  background-repeat: no-repeat;
  animation: city-road-anim 1s 1s;
}

.city img {
  width: 100%;
}

#dialing-music {
  display: flex;
  margin: 2vh 1vh 1vh 1vh;
}

#progressbar-container {
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 85vh;
}

/* Progress bar style by pjfrix, animation by me */

progress {
    box-sizing: border-box;
    border: solid 0.2rem #202020;
    border-color: #202020 #666666 #666666 #202020;
    background: -webkit-linear-gradient(90deg, rgb(32, 42, 42), rgb(0, 0, 0));
    background: linear-gradient(90deg, rgb(32, 42, 42), rgb(0, 0, 0));
    padding: 0.1rem 0.2rem;
    height: 1.3rem;
}

progress[value]::-moz-progress-bar {
    background: repeating-linear-gradient(145deg, #00a500, 2px, #006f00, #006f00, 6px, #00a500 8px);
    border-top: 0.1rem solid #003c00;
    border-bottom: 0.1rem solid #003c00;
    animation: baranim 0.25s linear infinite;
}

@keyframes baranim {
  25% {
    background: repeating-linear-gradient(145deg, #00a500, 2px, #00a500, #006f00, 6px, #006f00 8px); /* 1 */
  }
  50% {
    background: repeating-linear-gradient(145deg, #006f00, 2px, #00a500, #00a500, 6px, #006f00 8px); /* 2 */
  }
  75% {
    background: repeating-linear-gradient(145deg, #006f00, 2px, #006f00, #00a500, 6px, #00a500 8px); /* 3 */
  }
  100% {
    background: repeating-linear-gradient(145deg, #00a500, 2px, #006f00, #006f00, 6px, #00a500 8px); /* 4 */
  }
}