.main-content.home {
  padding: 0;
}

.bottom-right-image.home {
  background-image: url('../images/home/Home.svg');
}

.top-bar {
  background: linear-gradient(to bottom, #31365d, #9EAAcd);
  width: 100%;
  height: 11.65vw;
  display: grid;
}

.top-bar::after {
  content: '';
  background-image: linear-gradient(to bottom, #0008, #0000);
  width: 100%;
  height: 1vw;
  z-index: -1;
  position: relative;
  top: 0.3vw;
}

.top-bar-items {
  background-color: transparent;
  table-layout: fixed;
  text-align: center;
  width: 99.4%;
  margin-top: 0.4vw;
  border-collapse: collapse;
}

.top-bar-text {
  margin-top: -3vw;
  pointer-events: none;
  user-select: none;
  background-color: transparent;
  table-layout: fixed;
  text-align: center;
  width: 99.4%;
  border-collapse: collapse;
}

.top-bar-item {
  padding-bottom: 1.9vw;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.top-bar-item a {
  text-decoration: none;
  color: #000;
}

.top-bar-item img {
  width: 9vw;
  vertical-align: middle;
  pointer-events: none;
  user-select: none;
}

.top-bar-item-text {
  color: #000;
  position: relative;
  vertical-align: bottom;
  text-align: center;
  font-size: 2vw;
  pointer-events: none;
  user-select: none;
}

.homepage-content-container {
  margin: 1%;
}

.sidebar-border.home {
  background: linear-gradient(#2a2a3d 40%, #565e7f 85%);
}

/* 1999 Homepage Stuff */

.home1999 {
  background-color: #303a45;
  overflow: hidden;
}

.home1999-content {
  margin: 0;
}

.top-bar-1999 {
  padding: 0;
}

.top-bar.home1999 {
  background: linear-gradient(to bottom, #424a6b, #73849c);
}

.top-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0.5vw;
  font-size: 2vw;
  padding-top: 0.5vw;
}

.top-links a {
  color: #C6E7F7;
}

.top-link::before {
  content: '';
  display: inline list-item;
  position: relative;
  clip-path: circle();
  background-color: #060A19;
  background-image: linear-gradient(to bottom right, #060a19 25%, #7c7f91 70%);
  left: -0.5vw;
  color: transparent;
  font-size: 1.5vw;
  vertical-align: top;
  font-size: 1vw;
  top: 0.5vw;
}

.webtv-today-container {
  content: '';
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #949484;
  background-image: url('../images/home/TodayBG.svg');
  background-size: cover;
  background-position: center center;
  border-style: solid;
  border-width: 0.6vw;
  border-color: #213131;
  border-right: 0;
  border-top-left-radius: 2vw;
  border-bottom: 0;
  color: #000;
  margin-left: 2vw;
  overflow: hidden;
}

.webtv-today-container::before {
  content: '';
  display: table-cell;
  position: absolute;
  top: -5vh;
  left: -8vh;
  width: 58vh;
  height: 58vh;
  background-image: url('../images/home/TodayArrow.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}

.today-content-container {
  height: 75%;
}

.today-header {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 13.5%;
  background-image: url('../images/home/TodayHead.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.today-header::before {
  content: '';
  display: block;
  position: relative;
  top: 1.5vh;
  left: 1vh;
  width: 100%;
  height: 100%;
  background-image: url('../images/home/WebTVTodayText.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.today-header::after {
  content: '';
  display: block;
  position: relative;
  height: 20%;
  background-image: url('../images/home/TodayFoot.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.right-image-container {
  content: '';
  display: block;
  width: 30%;
  height: auto;
  background-color: #949484;
  border-top: 0.6vw solid #181818;
  background-image: linear-gradient(to bottom, #2e393f 50%, #101b21, #2e393f);
  background-size: 1vh 1vh;
  margin-left: 1%;
  z-index: -2;
}

.right-image-container::after {
  content: '';
  display: block;
  position: relative;
  height: 100%;
  background-image: linear-gradient(to right, #0008, #0000);
  z-index: -1;
}

.main-content-container {
  display: flex;
  height: calc(80vh - 5vw);
}

.today-main {
  position: absolute;
  left: 38vh;
  top: 20.1vh;
  font-family: var(--standard-font);
  font-weight: 900;
  font-size: 5.5vh;
}

.today-findoutmore {
  position: absolute;
  width: 100%;
  bottom: -18vh;
  right: -24vw;
  font-weight: bolder;
  font-size: 2vw;
  color: #764842;
}

.today-sub {
  position: relative;
  font-size: 2vw;
  font-weight: 100;
  font-family: var(--standard-font);
  z-index: 1;
}

.bottom-links {
  background-image: linear-gradient(to right, #313942, #5a5a5a);
  grid-area: 14;
  z-index: 0;
}

.bottom-links table {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.bottom-links a {
  color: #e6daa0;
  font-size: 2.5vw;
  text-shadow: 0.15vw 0.15vw #000;
}

.bottom-link {
  padding-left: 3vw;
}

.bottom-link::before {
  content: '🞂  ';
  position: relative;
  color: #e6daa0;
}

#logo-1999 {
  padding-bottom: 0 !important;
  width: 22%;
}

#logo-1999 img {
  width: 13vw;
}

.clickable-today-overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
}

.asbestos {
  position: absolute;
  left: 50vw;
  top: 50vh;
  translate: -50% -50%;
  opacity: 0;
}

.asbestos:hover {
  animation: fadeTransition 0.5s;
  opacity: 1;
}

.smoke {
  background-image: url(../images/smoke.png);
  background-size: 100vw 100vh;
  animation: scroll 15s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

@keyframes scroll {
  0% { background-position: 100vw 100vh; }
  50% { background-position: 0 0; }
  100% { background-position: -100vw -100vh; }
}

.smoke::after {
  content: '';
  background-image: linear-gradient(#191919 90%, rgba(0,0,0,0));
  animation: lift 5s linear;
  top: -120vh;
  width: 100%;
  height: 120%;
  position: absolute;
}


@keyframes lift {
  0% {
    top: 0;
  }
  10% {
    top: 0;
  }
  20% {
    top: 0;
  }
  30% {
    top: 0;
  }
  40% {
    top: 0;
  }
  50% {
    top: -20vh;
  }
  60% {
    top: -40vh;
  }
  70% {
    top: -60vh;
  }
  80% {
    top: -80vh;
  }
  90% {
    top: -100vh;
  }
  100% {
    top: -120vh;
  }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media (max-width: 760px) {
  .top-bar {
    margin: 0;
    height: 25vw;
  }

  .top-bar-item {
    padding-bottom: 5.5vw;
  }

  .top-bar-item img {
    width: 18.5vw;
  }

  .top-bar-item-text {
    font-size: 4vw;
  }

  .top-bar::after {
    height: 4vw;
  }
  
  .top-bar-text {
    margin-top: -6vw;
  }
  
  .top-links {
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1.5vh;
  }
  
  .right-image-container {
    display: none;
  }
  
  .main-content-container {
    overflow: hidden;
    height: 80vh;
  }
  
  .webtv-today-container {
    border-width: 1vw;
    margin-left: 1vw;
    border-top-left-radius: 5vw;
  }
  
  .webtv-today-container::before {
    width: 25vh;
    height: 25vh;
    left: -1vh;
    top: calc(35vh - 25vw);
  }
  
  .bottom-links {
  }
  
  .bottom-links table {
    height: 80%;
  }
  
  .bottom-link a {
    font-size: 4vw;
  }
  
  #logo-1999 img {
    width: 20vw;
    padding-left: 1vw;
  }
  
  .today-header {
    height: 10%;
    border-top-left-radius: 1vw;
  }
   
  .today-main {
  left: 25vh;
  }
  
  .today-main::after {
    top: calc(35vh - 25vw);
    font-size: 2.8vh;
    position: absolute;
    left: 20vw;
  }
}