.main-content.home{padding:0;}
.bottom-right-image.home{background-image:url(../images/home/Home.svg);}

.top-bar{
	display:flex;
	width:100%;
	height:11.5vw;
	padding:6px;
	box-sizing:border-box;
	justify-content:space-between;
	background-image:linear-gradient(180deg,#31365d,#9eaacd);
	box-shadow:0 2px 16px #0008;
	z-index:1;
}

.top-bar-item{
	display:flex;
	width:25%;
	height:100%;
	margin:auto;
	flex-direction:column;
	z-index:1;
}
.top-bar-item a{text-decoration:none;color:#000;}
.top-bar-item img{
	width:8.5vw;
	margin:auto;
	pointer-events:none;
	user-select:none;
}

.top-bar-text{
	font-size:2vw;
	text-align:center;
	pointer-events:none;
	user-select:none;
	color:#000;
}

.homepage-content-container{margin:1%;}

.sidebar-border.home{background-image:linear-gradient(#2a2a3d 40%,#565e7f 70%);}

/* 1999 home styles */
.home1999{background-color:#303a45;overflow:hidden;}
.home1999-content{margin:0;}
.home1999 .top-bar{background-image:linear-gradient(180deg,#424a6b,#73849c);box-shadow:0 0;}
.home1999 .top-bar::before{
	content:'WEB HOME';
	display:block;
	position:absolute;
	top:-2.4vw;
	left:25%;
	font-size:8vw;
	letter-spacing:4vw;
	font-family:Gill Sans MT,sans-serif;
	background:linear-gradient(#fff3,#fff0);
	background-clip:text;
	color:#0000;
	pointer-events:none;
	z-index:0;
}
.home1999 .top-bar-item{width:20%;}
.logo-1999 img{width:13vw;}

.top-links{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding-top:0.5vw;
	padding-bottom:0.5vw;
	font-size:2vw;
}
.top-links a{color:#c6e7f7;}

.top-link::before{
	content:'';
	display:inline-block;
	position:relative;
	top:0.5vw;
	left:-0.5vw;
	background-color:#060a19;
	background-image:linear-gradient(to bottom right,#060a19 25%,#7c7f91 70%);
	vertical-align:top;
	font-size:2vw;
	border-radius:100%;
	width:1vw;
	height:1vw;
}

.webtv-today-container{
	content:'';
	display:grid;
	position:relative;
	width:100%;
	height:auto;
	margin-left:2vw;
	border-style:solid;
	border-width:0.6vw;
	border-color:#222234;
	border-right:0;
	border-top-left-radius:3vw;
	border-bottom:0;
	overflow:hidden;
	background-color:#949484;
	background-image:url(../images/home/TodayBG.svg);
	background-size:cover;
	background-position:center;
	color:#000;
}
.webtv-today-container::before{
	content:'';
	position:absolute;
	top:-5vh;
	left:-8vh;
	width:58vh;
	height:58vh;
	background-image:url(../images/home/TodayArrow.svg);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	z-index:0;
}

.today-header{
	content:'';
	position:absolute;
	top:0;
	width:100%;
	height:4.5vw;
	background-image:url(../images/home/TodayHead.svg);
	background-size:cover;
	background-repeat:no-repeat;
}
.today-header::before{
	content:'';
	display:block;
	position:relative;
	top:0.7vw;
	left:0.8vw;
	width:100%;
	height:100%;
	background-image:url(../images/home/WebTVTodayText.svg);
	background-size:contain;
	background-repeat:no-repeat;
	z-index:1;
}
.today-header::after{
	content:'';
	display:block;
	position:relative;
	height:20%;
	background-image:linear-gradient(90deg,#472b28,#808171 75%);
}

.right-image-container{
	content:'';
	display:block;
	width:30%;
	height:auto;
	margin-left:1%;
	background-color:#949484;
	border-top:0.6vw solid #181818;
	background-image:linear-gradient(180deg,#2e393f 50%,#101b21,#2e393f);
	background-size:1vh 1vh;
	z-index:-2;
}
.right-image-container::after{
	content:'';
	display:block;
	position:relative;
	height:100%;
	background-image:linear-gradient(90deg,#191919aa 5%,#19191900);
	z-index:-1;
}

.main-content-container{display:flex;height:calc(80vh - 5vw);}

.today-main{
	position:absolute;
	top:20.1vh;
	left:38vh;
	font-family:var(--standard-font);
	font-weight:600;
	font-size:5.5vh;
	text-shadow:0 0;
}

.today-findoutmore{
	position:absolute;
	width:100%;
	bottom:-18vh;
	right:-24vw;
	font-weight:bolder;
	font-size:2vw;
	color:#764842;
}

.today-sub{
	position:relative;
	font-size:2vw;
	font-weight:100;
	font-family:var(--standard-font);
	z-index:1;
}

.bottom-links{
	background-image:linear-gradient(90deg,#313942,#5a5a5a);
	grid-area:14;
	z-index:0;
}

.bottom-links table{
	position:relative;
	width:100%;
	height:100%;
	table-layout:fixed;
	border-collapse:collapse;
}

.bottom-links a{
	color:#e6daa0;
	font-size:2.5vw;
	text-shadow:0.15vw 0.15vw #000;
}

.bottom-link{padding-left:3vw;}

.bottom-link::before{
	content:'🞂	';
	position:relative;
	color:#e6daa0;
	font-size:2vw;
}

.clickable-today-overlay{
	position:absolute;
	top:0;
	width:100%;
	z-index:2;
}

.asbestos{
	position:fixed;
	top:50vh;
	left:50vw;
	transform:translate(-50%,-50%);
	opacity:0;
	transition:opacity 0.2s;
}
.asbestos:hover{opacity:1;}

.smoke{
	background-image:url(../images/smoke.png);
	background-size:100vw 100vh;
	animation:scroll 15s linear infinite;
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
}
.smoke::after{
	content:'';
	position:fixed;
	top:0;
	transform:translateY(0);
	background-image:linear-gradient(#191919 90%,#19191900);
	animation:lift 3s 2.5s ease-in forwards;
	width:100%;
	height:120%;
}
@keyframes scroll{from{background-position:100vw 100vh;}to{background-position:-100vw -100vh;}}
@keyframes lift{from{transform:translateY(0);}to{transform:translateY(-120vh);}}
@keyframes fadeOut{from{opacity:1;}to{opacity:0;}}

/* MSN TV/2001 home styles */
.main-msn{
	background-color:#2c3759;
	height:100vh;
	color:#262626;
	overflow-x:hidden;
	background-image:linear-gradient(45deg,#2c3759,#424f85);
}

.top-nav-msn{
	background-image:linear-gradient(#a5a5c1,#858fbc);
	padding-top:0.5vw;
	position:fixed;
	filter:drop-shadow(0 0.2vw 0.1vw #0008);
}
.top-nav-msn::after{
	content:'';
	position:fixed;
	width:6vw;
	height:2.5vw;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMTMiIHZlcnNpb249IjEuMSIgaWQ9InN2ZzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTSAwLDAgViAxMyBIIDAgQSA0MSwyNSAwIDAgMSAzMiwwIFYgMCBaIiBzdHlsZT0iZmlsbDojODU4ZmJjO2ZpbGwtb3BhY2l0eToxIiAvPjwvc3ZnPgo=);
	background-size:contain;
	background-repeat:no-repeat;
}

.top-bar-msn{
	display:flex;
	justify-content:space-around;
	width:100vw;
	height:6vw;
}
.top-bar-msn::after{
	content:'';
	position:absolute;
	width:100vw;
	height:0.3vw;
	top:67%;
	background-image:linear-gradient(#2a344d 30%,#c0c5e2 70%);
}

.top-logo-msn{
	width:10%;
	height:5vw;
}

.search-bar-container{
	width:85%;
	height:5vw;
	display:grid;
}

.search-bar-container p{
	font-size:1.4vw;
	font-weight:bold;
	margin-top:0.5vw;
	margin-bottom:0;
	grid-row:1;
}

.search-bar{
	width:80vw;
	height:1vw;
	margin-top:0.25vw;
	margin-bottom:0.25vw;
	background-color:#eee;
	border-width:0.3vw;
	border-color:#01010180 #8f8f8480 #8f8f8f80 #01010180;
	color:#000;
	padding:0.3vw;
	font-size:1.2vw;
	grid-row:2;
}

.go-button{
	width:3.5vw;
	height:2.3vw;
	margin-top:0.2vw;
	margin-left:0.4vw;
	border-width:0;
	padding:0;
	grid-row:2;
	background:url(../images/home/goButton.svg);
	background-size:contain;
	background-repeat:no-repeat;
	box-shadow:0 0;
	color:#0000;
	cursor:var(--cursor-click);
}

.top-links-msn{
	display:flex;
	width:100vw;
	height:2vw;
	justify-content:space-evenly;
	padding-bottom:0.3vw;
	font-size:1.6vw;
}
.top-link.msn{color:#000;}
.top-link.msn::before{display:none;}

.side-links{
	position:fixed;
	width:15%;
	font-size:1.6vw;
}
.side-links h4{
	margin:0 0 0 1.5vw;
	color:#d1d9eb;
	text-shadow:0 0;
}

.main-area-msn{
	display:flex;
	height:80%;
	margin-top:11vw;
}

.popular-links{
	display:flex;
	flex-direction:column;
	height:20vw;
	margin-left:2.5vw;
	margin-right:2.5vw;
	justify-content:space-evenly;
}
.popular-links a{color:#ffea9d;}

.centers{
	display:flex;
	flex-direction:column;
	height:10vw;
	margin-left:2.5vw;
	margin-right:2.5vw;
	justify-content:space-evenly;
}

.centers a{color:#ffea9d;}
.centers-picker{
	margin-left:1.5vw;
	padding:0.3vw 1vw 0.3vw 1vw;
	width:12vw;
	font-size:1.3vw;
}

.main-content-msn{width:85%;margin-left:15%;}
.main-content-links{
	display:flex;
	height:1.8vw;
	border-top-left-radius:1vw;
	padding:0.5vw;
	font-size:1.6vw;
	justify-content:space-around;
	background-color:#192a48;
	color:#d1d9eb;
}
.main-content-links a{color:#d1d9eb;}
.main-content-links a::before{content:'• ';color:#d1d9eb;}

.firstlink::before{display:none;}

.news-container{
	display:flex;
	flex-direction:column;
	background-color:#fff;
	height:50vh;
}

.news-header{
	background-color:#ae3c3c;
	color:#eee;
	padding:0.5vw;
	font-weight:bold;
	font-size:1.6vw;
}

.news-content{
	display:flex;
	flex-direction:column;
	height:100%;
	padding:0.5vw;
}
.news-content a{color:#111;}

.weather-container{
	height:8vw;
	background-color:#adb2cc;
	overflow:hidden;
	pointer-events:none;
}
#weatherFrame{
	border:0;
	width:100%;
	height:100%;
	overflow:hidden;
}

.content-footer{
	display:flex;
	background-color:#435a84;
	height:4vw;
	border-bottom-left-radius:1vw;
	padding:0.5vw;
	justify-content:space-evenly;
	color:#c1d9ff;
}
.content-footer p{margin:auto;font-size:1.6vw;}
.content-footer img{
	width:50vw;
	height:100%;
	margin-right:2vw;
}

.main-footer{
	display:flex;
	height:5%;
	padding:0.3vw 18vw 0.3vw 18vw;
	justify-content:space-around;
	color:#c1d9ff;
}
.main-footer a{color:#c1d9ff;}

/* 2.9 home styles */
.main-msn.msn29{
	background-color:#98add9;
	background-image:none;
}

.top-bar-msn.msn29::after{display:none;}
.top-nav-msn.msn29{
	background-color:#27416b;
	background-image:none;
}
.top-nav-msn.msn29::after{display:none;}

.search-bar-container.msn29{color:#afb6c2;}

.go-button.msn29{
	background-image:url(../images/ButtonBorder2.svg);
	color:#fff;
	border-width:0.3rem;
	font-size:1.4vw;
}

.top-links-msn.msn29{
	padding-top:0.3vw;
	border-top-left-radius:1vw;
	box-shadow:0 -0.2vw 0.2vw #102a4d,inset 0.15vw 0.15vw 0.1vw #a2c1de;
}
.top-links-msn.msn29,.top-links-msn.msn29 a{color:#e6e6f2;background-color:#557ca3;}

.main-area-msn.msn29{margin-top:9vw;}
.main-content-links.msn29{background-color:#0000!important;}
.main-content-links.msn29 a{color:#262626;}
.main-content-links.msn29 a::before{color:#618bb0;}

.side-links.msn29 .popular-links{
	margin-left:1vw;
	margin-right:1vw;
	height:70vh;
}
.side-links.msn29 .popular-links a{color:#2f3b59;}

.main-content-grid{
	display:grid;
	width:85vw;
	height:76vh;
}
.featured-grid,.news-grid,.weather-grid,.other-grid{
	overflow:hidden;
	width:42.5vw;
	height:38vh;
}
.featured-grid{grid-row:1;background-color:#aaaab3;}
.featured-grid img{width:100%;height:100%;}
.news-grid{grid-row:1;background-color:#e6e6e6;}
.arrowed-list.news,.arrowed-list.other{
	margin:0;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.arrowed-list.news a,.arrowed-list.other a{color:#262626;}
.weather-grid{
	display:flex;
	grid-row:2;
	background-color:#b8cad9;
}
.weather-grid p{margin:auto;text-align:center;}
.other-grid{grid-row:2;background-color:#d1d9eb;}
.centers-picker.msn29{margin-left:1vw;}

/* SKCro homepage theme */
body.SKCro.home1999 .top-bar::before{text-shadow:0 0;}

body.SKCro .top-bar-text, /* Yep... every one of these needs to be manually styled. */
body.SKCro .news-container,
body.SKCro .news-content a,
body.SKCro .top-links.msn,
body.SKCro .top-link.msn,
body.SKCro .search-bar-container,
body.SKCro .side-links .popular-links a,
body.SKCro .side-links .centers a,
body.SKCro .main-content-links a,
body.SKCro .news-grid,
body.SKCro .news-grid a,
body.SKCro .weather-grid,
body.SKCro .other-grid{color:#f0f0f0;}

body.SKCro .news-container{background:#001222;}
body.SKCro .main-content-links,body.SKCro .content-footer{background:#036;}
body.SKCro .news-header{background:#0064c8;}

body.SKCro .top-nav-msn::after{display:none;}
body.SKCro .top-nav-msn,body.SKCro .top-bar-msn,body.SKCro .top-links-msn{background:#024;}
body.SKCro .main-content-grid{
	overflow:hidden;
	border:solid #001222;
	border-width:0.2vw 0 0 0.2vw;
	border-top-left-radius:1vw;
	background:linear-gradient(#0248,#00051080);
}
body.SKCro .featured-grid,body.SKCro .news-grid,body.SKCro .weather-grid,body.SKCro .other-grid,body.SKCro .top-links-msn a{background:#0000;}
body.SKCro .top-links-msn{box-shadow:0 0;border-radius:0;}

/* Community stuff */
.community-box-container{
	display:flex;
	height:96vh;
	flex-direction:column;
	justify-content:space-between;
}
.community-box{
	display:flex;
	height:15%;
	padding:1%;
	align-items:center;
}

.title{
	color:#fff;
	font-size:2.5rem;
	font-family:var(--black-font);
	margin:0;
}
.description{word-wrap:break-word;}

.bottom-right-image.community{height:24vw;background-image:url(../images/Community.svg);}
 
/* Icons */
.icon{
	width:12.5%;
	margin-right:5%;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}
.icon.pagebuilder{background-image:url(../images/pageBuilder.svg);}
.icon.aroundtown{background-image:url(../images/SKCro.svg);}
.icon.chat{background-image:url(../images/chatBubble.svg);}
.icon.discuss{background-image:url(../images/discord.svg);}

@media(max-width:760px){
	.top-bar{margin:0;height:25vw;}
	.top-bar::after{height:4vw;}
	.top-bar-item img{width:18vw;}
	.top-bar-text{font-size:5vw;}
	.logo-1999 img{width:20vw;}

	.top-links{
		padding-top:1vh;
		padding-bottom:1.5vh;
		font-size:2vh;
	}

	.right-image-container{display:none;}

	.main-content-container{overflow:hidden;height:80vh;}

	.webtv-today-container{
		border-width:1vw;
		margin-left:1vw;
		border-top-left-radius:5vw;
	}
	.webtv-today-container::before{
		left:-1vh;
		top:calc(35vh - 25vw);
		width:25vh;
		height:25vh;
	}

	.bottom-links table{height:80%;}
	.bottom-link a{font-size:4vw;}

	.today-header{height:10%;border-top-left-radius:1vw;}

	.today-main{left:25vh;}
	.today-main::after{
		position:absolute;
		top:calc(35vh - 25vw);
		left:20vw;
		font-size:2.8vh;
	}

	/* MSN TV/2001 Home styles */
	.main-msn{
		height:100vh;
		overflow-x:hidden;
		background-image:linear-gradient(90deg,#2c3759,#424f85);
		background-color:#2c3759;
		color:#000;
	}

	.top-nav-msn{
		position:fixed;
		background-image:linear-gradient(#a5a5c1,#858fbc);
		padding-top:1vw;
		filter:drop-shadow(0 0.5vw 0.1vw #0008);
		z-index:1;
	}
	.top-nav-msn::after{width:20vw;height:8vw;}

	.top-bar-msn{height:16vw;}
	.top-bar-msn::after{top:67%;height:1vw;}

	.top-logo-msn{width:15%;height:14vw;}

	.search-bar-container{
		width:80%;
		height:80%;
		align-content:center;
	}
	.search-bar-container p{font-size:3.5vw;white-space:nowrap;}
	.search-bar{
		width:65vw !important;
		height:4vw;
		margin-top:1vw;
		margin-bottom:0;
		background-color:#eee;
		border-width:1vw!important;
		border-color:#01010180 #8f8f8f10 #8f8f8f10 #01010180;
		color:#000;
		padding:0.3vw!important;
		font-size:1.2vw!important;
		grid-row:2;
	}

	.go-button{
		width:9vw;
		height:6.4vw;
		margin-top:1vw;
		margin-left:0;
	}

	.top-links-msn{
		width:100vw;
		height:5vw;
		display:flex;
		justify-content:space-evenly;
		margin-bottom:0.3vw;
		font-size:3.8vw;
	}
	.top-link.msn{color:#000;}
	.top-link.msn::before{display:none;}

	.side-links{
		width:50vw;
		height:90vh;
		font-size:5vw;
		padding-top:7vw;
		transform:translateX(-110%);
		overflow:hidden;
		background:#2c3759;
		filter:drop-shadow(1vw 0 1vw #0008);
		z-index:0;
	}
	body.SKCro .side-links{background:linear-gradient(#024d,#001222dd);backdrop-filter:blur(1vw);}

	.side-links h4{
		margin:0 0 0 2vw;
		color:#d1d9eb;
		text-shadow:0 0;
	}

	.main-area-msn{
		display:flex;
		margin-top:22.5vw;
		z-index:0;
	}

	.popular-links{
		display:flex;
		flex-direction:column;
		height:50vw;
		margin-left:4vw;
		margin-right:4vw;
		justify-content:space-evenly;
	}

	.popular-links a{color:#ffea9d;}

	.centers{
		display:flex;
		flex-direction:column;
		height:25vw;
		margin-left:4vw;
		margin-right:4vw;
		justify-content:space-evenly;
	}
	.centers a{color:#ffea9d;}

	.centers-picker{
		margin-left:2vw;
		padding:1vw 2vw 1vw 2vw;
		width:90%;
		font-size:4vw;
	}

	.main-content-msn{width:100%;margin:0;}
	.main-content-links{
		padding:0.5vw 0.5vw 0.5vw 12vw;
		height:7vw;
		font-size:5vw;
	}
	.main-content-links a{color:#d1d9eb;}
	.main-content-links a::before{content:'• ';color:#d1d9eb;}
	body.SKCro .main-content-links{padding:0.5vw;}

	.news-container{
		display:flex;
		flex-direction:column;
		background-color:#fff;
	}

	.news-header{
		background-color:#ae3c3c;
		color:#eee;
		padding:1.5vw;
		font-weight:bold;
		font-size:5vw;
	}

	.news-content{
		display:flex;
		flex-direction:column;
		height:100%;
		padding:0.5vw;
	}
	.news-content a{color:#111;}

	.weather-container{
		height:32vw;
		background-color:#adb2cc;
		overflow:hidden;
		pointer-events:none;
	}

	#weatherFrame{
		border:0;
		width:110%;
		height:130%;
		margin-left:-3.5vw;
		margin-top:-1vw;
		overflow:hidden;
	}

	.content-footer{
		display:flex;
		background-color:#435a84;
		height:8vw;
		border-bottom-left-radius:4vw;
		padding:0.5vw;
		justify-content:space-evenly;
		color:#c1d9ff;
	}
	.content-footer p{font-size:4vw;}
	.content-footer img{
		width:70vw;
		height:100%;
		margin-right:2vw;
	}

	.main-footer{
		display:flex;
		height:5%;
		justify-content:space-around;
		padding:1.5vw;
		color:#c1d9ff;
		font-size:5vw;
	}
	.main-footer a{color:#c1d9ff;}

	/* 2.9 Home Styles */
	.main-msn.msn29{
		background-color:#98add9;
		background-image:none;
	}

	.top-bar-msn.msn29::after{display:none;}

	.top-nav-msn.msn29{
		background-color:#27416b;
		background-image:none;
	}
	.top-nav-msn.msn29::after{display:none;}

	.go-button.msn29{
		border-width:1vw;
		width:10vw;
		font-size:4vw;
	}

	.top-links-msn.msn29,.top-links-msn.msn29 a{color:#e6e6f2;}

	.main-area-msn.msn29{margin-top:23.4vw;}
	.main-content-links.msn29{padding:0;}

	.side-links.msn29{
		background-color:#98add9;
		width:45vw;
		padding-top:0;
		padding-left:3vw;
	}
	.side-links.msn29 .popular-links{
		margin-left:1vw;
		margin-right:1vw;
		height:70vh;
	}
	.side-links.msn29 .popular-links a{color:#2f3b59;}

	.main-content-grid{
		display:grid;
		width:100vw;
		height:81.5vh;
	}

	.featured-grid,.news-grid,.weather-grid,.other-grid{
		overflow:hidden;
		width:50vw;
		height:40.7vh;
	}
	.featured-grid img{width:100%;height:100%;}

	.arrowed-list.news,.arrowed-list.other{
		margin:0;
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-around;
	}
	.arrowed-list.news a,.arrowed-list.other a{color:#262626;}

	.weather-grid p{margin:auto;}

	.bottom-right-image.community{
		height:70vw;
		width:15vw;
	}

	.title{
		color:#fff;
		font-size:2rem;
		font-family:var(--black-font);
	}

	.icon{margin-right:2rem;}
	.box-outline{width:96vw!important;}
}