.song-container {
  border-width: 0.2rem;
  border-color: #323232 #141414 #141414 #323232;
  border-style: solid;
  background-color: #242424;
  width: 25vw;
  height: 8.5vw;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-container .song-title {
  font-weight: bold;
  display: grid;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.song-container .song-artist {
  display: grid;
  justify-content: center;
}
  
.song-container audio {
  margin: 0.4rem;
  width: 95%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #141414 #323232 #323232 #141414;
  border-radius: 0;
}

.song-list {
  display: grid;
  justify-content: space-between;
}

.status-container::before {
  display: none;
}

.status-indicator::after {
  display: none;
}

.status-indicator {
  width: 100% !important;
  background-color: transparent !important;
  margin: auto !important;
}