/* Logo/Dialing/Splash CSS */

body {
  background-color: #000;
  color: #888;
  font-family: 'Helvetica', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Progress bar style based off of pjfrix's code, animation by me */

progress {
  box-sizing: border-box;
  border: solid 0.2rem #202020;
  border-color: #202020 #666 #666 #202020;
  background: -webkit-linear-gradient(90deg, rgb(32, 42, 42), rgb(0, 0, 0));
  background: linear-gradient(90deg, rgb(32, 42, 42), rgb(0, 0, 0));
  padding: 0.1rem 0.2rem;
  height: 1.3rem;
}

progress[value]::-moz-progress-bar {
  background: repeating-linear-gradient(145deg, #006F00 -0.3%, #006F00 0.1%, #00A500 2.5%, #006F00 5%);
  border-top: 0.1rem solid #003c00;
  border-bottom: 0.1rem solid #003c00;
  animation: baranim 120s linear infinite;
}

progress[value]::-webkit-progress-value {
  background: repeating-linear-gradient(145deg, #006F00 -0.3%, #006F00 0.1%, #00A500 2.5%, #006F00 5%);
  border-top: 0.1rem solid #003c00;
  border-bottom: 0.1rem solid #003c00;
  animation: baranim 120s linear infinite;
}

progress::-webkit-progress-bar {
  background: transparent;
}

#city {
  position: fixed;
  width: 100%;
  height: 0;
  padding-bottom: 100vh;
  background-image: url('../images/Dialing.svg');
  background-size: contain;
  background-position: center center;
  z-index: -1;
  background-repeat: no-repeat;
  animation: city-road-anim 1s 1s;
}

#dialing-music {
  display: flex;
  margin: 2vh 1vh 1vh 1vh;
}

#progressbar-container {
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 85vh;
}

#skipDialing {
  float: right;
}

.animating {
  opacity: 0;
  animation: fadeInOut 2s ease-in-out 1s forwards;
  width: 35vw;
  height: auto;
}

/* This was a dumb idea */
.fadeIn {
  animation: fadeTransition linear 0.5s;
}

.hiddenUntilClick,
.hiddenUntilLogo {
  display: none;
}

.hideOnClick {
  position: absolute;
  display: grid;
}

.logoArea {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.noCursor {
  cursor: none;
}

.powerOnButton {
  width: 6rem;
  margin-left: auto !important;
  margin-right: auto;
  cursor: url(../images/cursor.png), default;
}

@keyframes baranim {
  100% {
    background-position: 10000px 0;
    background-size: 100% 100%;
  }
}

@keyframes fadeTransition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}