body {
  background-color: var(--webtv-bgcolor);
  color: var(--webtv-green);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--webtv-yellow);
  text-shadow: 0.18rem 0.18rem #000;
}

h2, h3, h4, h5, h6 {
  color: var(--webtv-yellow);
  text-shadow: 0.15rem 0.15rem #000;
}

.sidebar {
  background-color: #452A36;
}

.sidebar-border {
  background: linear-gradient(#33202A 40%, #774E5E 85%);
}