.main-content.setup{padding:1.5%;}

.top-header{margin-bottom:0;}

.settings-list{
  display:flex;
  justify-content:space-between;
}

.arrowed-list{color:var(--webtv-link);padding-left:2.2rem;}
.arrowed-list li::before{background-color:var(--webtv-link);}
.arrowed-list li,.descriptions li{
  margin-top:0.3vh;
  margin-bottom:0.3vh;
}
.arrowed-list, .descriptions{
  margin-top:0;
  margin-bottom:0;
  display:grid;
}
.descriptions{
  padding-left:8rem;
  padding-right:8rem;
}
.descriptions li::marker{content:'';}

.options-table{
  display:flex;
  margin-top:1rem;
}

.options-listing{
  display:flex;
  margin-bottom:1rem;
  flex-direction:column;
}

.listing-link{
  font-family:var(--black-font);
  font-size:1.6rem;
}

.row{width:50%;}

.submit{
  width:7.5rem;
  font-size:1.4rem;
  padding-top:0.2rem;
  padding-bottom:0.2rem;
}

@media (max-width:760px){
  .submit{font-size:1.2rem;}

  .arrowed-list li,.descriptions li{
    margin-top:1vh;
    margin-bottom:1vh;
    font-size:1.1rem;
  }

  .descriptions{
    padding-left:1rem;
    padding-right:1rem;
  }
}