/* WebTV CSS style by SKCro */

/* Global Styles */
body {
  background-color: #191919;
  color: #42CC55;
  font-family: 'Helvetica', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 2vw; /* Adjust the value as needed */
}

h1, h2, h3, h4, h5, h6 {
  color: #E7CE4A;
  font-weight: 700
}

a {
  text-decoration: none;
  color: #E7CE4A;
}

/* Fonts */

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica.woff2') format('woff2'); /* Normal */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica-Bold.woff2') format('woff2'); /* Bold */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica-Oblique.woff2') format('woff2'); /* Italics */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica-BoldOblique.woff2') format('woff2'); /* Bold+Italics */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica-Light.woff2') format('woff2'); /* Light */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica-LightOblique.woff2') format('woff2'); /* Light+Italics */
  font-weight: normal;
  font-style: italic;
}


/* Sidebar Styles */

.sidebar {
  background-color: rgb(69, 42, 54);
  width: 15%;
  height: 95%;
  position: fixed;
  padding: 1vw 0;
  display: grid;
}

.sidebar img {
  max-width: 85%;
  max-height: 85%;
}

.sidebar-border {
  position: relative;
  top: 0;
  margin-top: 3%;
  height: 3%;
  width: 100%;
}

.sidebar-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.8vh;
  background: linear-gradient(#33202A 50%, #774E5E 90%);
}

.sidebar-link {
	text-align: left;
	margin-left: 1vw;
}

.sidebar-contents {
  text-align: center;
}

.bottom-right-image {
  align-self: end;
  margin-bottom: 7vh;
  margin-top: auto;
  margin-left: auto;
  display: flex;
}

/* Main Content Style */

.main-content {
  margin-left: 15%;
  padding: 1%;
}

/* Text Input Styles */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.input-container label {
  text-align: left;
}

/* Button Styles */

.input-container input[type="text"],
.input-container input[type="checkbox"] {
  font-family: Monaco, monospace;
  background-color: #444444;
  color: #ffdd33;
  padding: 0.65%;
  width: auto;
  font-size: 1.5vw;
}

.input-container input[type="checkbox"] {
  scale: 1.8;
  /*! margin-top: 0.2%; */
  /*! margin-right: 0.5%; */
}

.webtv-checkbox input[type="checkbox"] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Use custom dimensions for the checkbox */
  width: 1.5vw;
  height: 1.5vw;
  /* Add custom background and foreground colors */
  background-color: #2B2B2B;
  border: 2px solid #7F7F7F;
  border-radius: 1px;
  outline: none; /* Remove the default focus outline */
  cursor: pointer;
  position: relative; /* Add positioning context for pseudo-element */
}

.webtv-checkbox .checkmark {
  font-weight: 700;
  color: #EB3733;
  position: relative;
  top: -5%;
  left: -55%;
  transform: rotate(45deg);
  font-size: 3vw;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  opacity: 0; /* Hide the checkmark by default */
  pointer-events: none; /* Ignore mouse interactions */
  z-index: 10000;
}

.webtv-checkbox input[type="checkbox"]:checked + .checkmark {
  /* When the checkbox is checked, show the checkmark */
  opacity: 1;
}

.radio-buttons {
  scale: 1.8;
  font-size: 1.3vw;
  display: grid;
  align-self: end;
  margin-right: 4%;
  margin-bottom: 1%;
}

input[type="submit"] {
  background-image: linear-gradient(to bottom, #343434, #040404);
  background-repeat: no-repeat;
  background-position: center;
  color: #E7CE4A;
  text-shadow: 2px 2px #000;
  background-color: #222;
  padding: 0.5vw 1vw;
  cursor: pointer;
  float: right;
  font-size: 1.5vw;
  border: 0.4vh solid #000;
  border-image: linear-gradient(155deg, #494949 51%, #000 50%);
  border-image-slice: 1;
}

.border {
  position: relative;
  top: 0;
  left: 0;
  height: 2%;
  width: 100%;
  z-index: -1;
  margin-bottom: 1%;
}

.border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.8vh;
  background: linear-gradient(#2B2B2B, #0D0D0D);
}

/* Statusbar */

.status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4vw;
  background-image: linear-gradient(to right, #666666, #333333);
  z-index: 9999;
}

.status-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1vw;
}

.page-name {
  color: #E7CE4A;
  width: 80%;
  border-radius: 0.5vw;
  background-image: linear-gradient(to right, #2A2A2A, #000); /* Gradient colors */
  text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0);
  padding: 0.35% 0.8%;
  /*! font-size: 1.3vw; */
}

.status-indicator { /* Black box w/ green line */
  width: 88%;
  height: 85%;
  background-color: #000;
  border-radius: 0.3vw; /* Rounded corners */
  margin: auto;
  margin-right: auto;
}

.status-indicator::after { /* Green line */
  content: '';
  position: absolute;
  top: 50%;
  width: 88%;
  height: 10%;
  background-color: #00A500;
  margin: auto;
}

.status-container { /* Status indicator container */
  width: 4.3%;
  height: 75%;
  background-color: #FFF;
  border-radius: 0.3vw; /* Rounded corners */
  position: relative;
  display: flex;
  background-image: linear-gradient(148deg, #202020 52%, #5E5E5E 50%); /* Gradient to simulate depth */
}

.selection-box {
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  border: 0.35vw solid rgba(255, 228, 71, 1);
/*  border-image: linear-gradient(145deg, #FFF, #FFE447, #FFCB00, #CEA500); */
/*  border-image-slice: 1; */
  border-radius: 4px;
  box-sizing: border-box;
  pointer-events: none; /* Ensure the selection box doesn't interfere with mouse interactions */
  z-index: 9999;
  display: none; /* Hide the box by default */
}

.selection-box.green {
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  border: 5px solid rgba(45, 253, 0, 0.95);
  border-radius: 4px;
  box-sizing: border-box;
  pointer-events: none; /* Ensure the selection box doesn't interfere with mouse interactions */
  z-index: 9999; /* Ensures that the selectionbox stays on top of elements */
}

::selection {
  background-color: #2B2B2B; /* Set the desired inverted background color */
  color: #DFDFDF; /* Set the desired inverted text color */
}

input,
button,
select,
textarea { /* Removes the default browser focus box */
  outline: none;
}

.clickable {
	
}