.chat-header {
  content: '';
  background-image: linear-gradient(to bottom, #5D7F36, #435B29);
  background-color: #5D7F36;
  height: 10vw;
}

.chat-header.text {
  margin-left: 2vw;
  padding-top: 1vw;
  background: transparent;
  color: #000;
  font-size: 2.5rem;
  font-weight: 600;
  height: 0;
}

.chat-icon {
  content: '';
  background-image: url('../images/BalloonTalkCity.gif');
  background-size: contain;
  width: 14.35vw;
  height: 100%;
  margin-top: -1vw;
  margin-left: 70.7vw;
}

.sidebar-border.chat {
  background: linear-gradient(#00000050 40%, #FFFFFF25 85%);
}

#chat-content {
  margin-top: 1%;
  margin-left: 1.5rem;
}

#chat-content-source {
  width: 100%;
  height: 62vh;
  border: 0;
}

#chat-bar {
  margin-left: 1.5rem;
  display: grid;
  position: absolute;
  top: 83vh;
  width: 83.4vw;
}

.border.chat {
 margin-top: 0;
 margin-bottom: 0.5rem;
}

#message {
  width: 85%;
  background-color: #262626;
  height: 1rem;
  display: inline;
  vertical-align: middle;
  color: #ffc342;
  caret-color: #cc9933;
}

#send-button {
  margin-right: 0;
  margin-left: 2vw;
  width: 7rem;
  display: inline;
  float: none;
  vertical-align: middle;
  font-size: 1.4rem;
}

/* iframe stuff */

.chat-message {
  display: table;
}

.username {
  display: table-cell;
  font-family: 'Helvetica Now Display Black', Arial Black, Helvetica, sans-serif;
}

.message {
  display: table-cell;
  padding-left: 0.5rem;
}